<p>SCORE SUBMITTED</p>
<% if (next_level_id && next_level_id <= 4){ %>
  <p><a href="/levels/<%= next_level_id %>">Play Next Level</a></p>
  <p>or</p>
<% } %>
<p><a href="/scoreboards/<%= score_board_id %>">View HighScores</a></p>