<script type="application/json" class="bootstrapped-level">
{ level_id: <%= @level.id %> }
</script>
<div class="canvas-wrapper">
  <canvas id="level-canvas" width="700" height="450">Your browser does not support the HTML5 Canvas.</canvas>
  <p>USE ARROW KEYS TO MOVE ROBOT</p>
</div>