<h3><%= @level.title %></h3>
<script type="application/json" id="bootstrapped-level">
{ "level_num": "<%= @level.id %>",
  "scoreboard_id": "<%= @level.scoreboard.id %>",
  "items": <%= (@level.generate_item_array()).to_json.html_safe %> }
</script>

<div class="canvas-wrapper">
  <div class="timer">
  </div>
  <div class="meow-box">
  </div>
  <div class="cookie-counter">
  </div>
  <canvas id="level-canvas" width="700" height="450">Your browser does not support the HTML5 Canvas.</canvas>
  <p>USE ARROW KEYS TO MOVE ROBOT</p>
</div>