<h1>Credits!</h1>
<p>Concept, Code, and Design by <a href="http://flarnie.com/">Flarnie Marchan</a> on a lovely September weekend in 2013.
Thanks to <a href="http://flarnie.com/contact/">App Academy</a>, Josh Marchan, and Ruth Thompson.  Wowza, you guys rock!</p>
<h3>Contact!</h3>
<p>Please send any comments, bug reports, fanmail, etc. through <a href="http://flarnie.com/contact/">the contact form on Flarnie's homepage</a>.  Thanks!</p>
