<div class="canvas-wrapper">
  <canvas id="home-canvas" width="700" height="450">Your browser does not support the HTML5 Canvas.</canvas>
</div>
<br />
<div class="play-button-wrapper">
  <%= link_to "PLAY", level_url(@level_one), action: "get", class: "play-button"  %>
</div>
