@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// mixins and magic numbers */
// colors */
$baseblack: #575757;
$grassgreen: #5ae310;
$medgreen: #2eba3f;
$kittenyellow: #ffe79e;
$skyblue: #18f;
$medblue: #42f;
$darkblue: #040590;
$baseorange: #fe5500;
$basered: #ee0001;
$basebrown: #69533a;
$lghtbrown: #a8845b;

// numbers */
$basepadding: 1.5em;
$textoutlinewidth: 2px;


// mixins */
@mixin top-level-centered {
  width: 80%;
  margin: 0 auto;
  min-width: 750px;
  padding: .5em 0;
}

// general styles */

html {
  height: 100%;
}

body {
  background: #000;
  height: 100%;
}

.wrapper {
  @include top-level-centered;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
  color: $baseorange;
  font-family: 'Press Start 2P', cursive;
  min-height: 100%;
  padding: 0 $basepadding;

  header h1 {
    padding: $basepadding 0;
    text-shadow: -$textoutlinewidth -$textoutlinewidth 0 $kittenyellow,
      $textoutlinewidth -$textoutlinewidth 0 $kittenyellow,
      -$textoutlinewidth $textoutlinewidth 0 $kittenyellow,
       $textoutlinewidth $textoutlinewidth 0 $kittenyellow;
  }
}

a {
  color: $baseorange;
}

ul li, h1, h2, h3, h4, p {
  padding-top: 1em;
  padding-bottom: $basepadding;
}

ul.non-list li {
  list-style: none;
}

// high scores table */

table.high-scores {
  tr {
    color: #fff;
  }

  th,
  td {
    padding: .5em;
    padding-right: 1em;
    text-align: left;
  }
}


// content styles */

.canvas-wrapper canvas,
.win-message {
  border: 1px solid $medblue;
}

.canvas-wrapper {
  position: relative;
}

.timer,
.meow-box,
.cookie-counter,
.win-message {
  position: absolute;
}

.timer {
  left: 20px;
  z-index: 200;
}

.meow-box {
  color: #fff;
  font-size: .5em;
  z-index: 201;
}

.cookie-counter {
  bottom: 50px;
  left: 20px;
  z-index: 200;
}

.cookie-alert {
  left: 50px;
  position: absolute;
  top: 50px;
}

.win-message {
  background: #000;
  left: 20%;
  padding: $basepadding;
  top: 20%;
}

.highlight {
  color: $skyblue;
  text-shadow: -$textoutlinewidth -$textoutlinewidth 0 $kittenyellow,
  $textoutlinewidth -$textoutlinewidth 0 $kittenyellow,
  -$textoutlinewidth $textoutlinewidth 0 $kittenyellow,
  $textoutlinewidth $textoutlinewidth 0 $kittenyellow;
}

// footer styles */

footer.main-footer ul li {
  display: inline-block;
  padding-right: $basepadding;
}

