@import url(//fonts.googleapis.com/css?family=Press+Start+2P);

/* mixins and magic numbers */
/* colors */
$baseblack: #575757;
$robotgrey: #bfbfbf;
$grassgreen: #5AE310;
$medgreen: #2EBA3F;
$kittenyellow: #ffe79e;
$skyblue: #1188FF;
$medblue: #4422FF;
$darkblue: #040590;
$baseorange: #FE5500;
$basered: #EE0001;
$basebrown: #69533A;
$lghtbrown: #A8845B;

/* numbers */
$basepadding: 1.5em;
$textoutlinewidth: 2px;


/* mixins */
@mixin top-level-centered {
	width: 80%;
	min-width: 750px;
	margin: 0 auto;	
	padding: .5em 0;
}

/* general styles */

html {
	height: 100%;
}

body {
	background: #000000;
	height: 100%;
}

.wrapper {
	@include top-level-centered;
	border-left: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	color: $baseorange;
	font-family: 'Press Start 2P', cursive;
	min-height: 100%;
	padding: 0 $basepadding ;
}

a {
	color: $baseorange;
}

ul li, h1, h2, h3, h4, p {
	padding-top: 1em;
	padding-bottom: $basepadding;
}

ul.non-list li {
	list-style: none;
}

/* high scores table */

table.high-scores {
	tr {
	  color: #ffffff;	
	}
	th, td {
	  padding: .5em ;
	  padding-right: 1em;
	  text-align: left;	
	}
}

/* header styles */

.wrapper header h1 {
	text-shadow:
   -$textoutlinewidth -$textoutlinewidth 0 $kittenyellow,  
    $textoutlinewidth -$textoutlinewidth 0 $kittenyellow,
    -$textoutlinewidth $textoutlinewidth 0 $kittenyellow,
     $textoutlinewidth $textoutlinewidth 0 $kittenyellow;

  padding: $basepadding 0;
}

/* content styles */

.canvas-wrapper canvas, .win-message {
	border: 1px solid $medblue;
}

.canvas-wrapper {
	position: relative;
}

.timer, .meow-box, .win-message {
	position: absolute;
}

.timer {
	left: 20px;
	z-index: 200;
}

.meow-box {
	z-index: 201;
	color: #ffffff;
	font-size: 5%;
}

.win-message {
	left: 20%;
	top: 20%;
	background: #000000;
	padding: $basepadding;
}

/* footer styles */

.wrapper footer {
	position: absolute;
	bottom: 0px;
}

footer.main-footer ul li {
	display: inline-block;
	padding-right: $basepadding;
}


